body {
    min-width: 1024px;
    min-height: 600px;
}

.top-panel {
    height: 80px;
    background: #F0F0F0;
}

.bottom-panel {
    height: 30px;
}

.left-panel {
    width: 200px;
}

.right-panel {
    width: 200px;
}

.center-panel {
    background: #eee;
}

#menu-panel {
    height: 100%;
    border: none !important;
}

.menu-area {
    height: 100%;
}

.submenus-panel {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.submenu-item-panel {
    width: 100%;
    height: 28px;
    padding-left: 10px;
    line-height: 28px;
    cursor: pointer;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    background: #EEEEEE;
    font-weight: bold;
    color: #808080;
}

.submenu-item-panel:hover {
    background: #BDBDBD;
    filter: alpha(opacity = 70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.selected {
    background: #BDBDBD;
    color: #EEEEEE;
}

iframe {
    width: 100%;
    height: 100%;
}

.tabs-panels .panel .panel-body {
    overflow-y: hidden;
}

.tasks-panel {
    width: 100% !important;
    height: 100%;
    margin: auto;
}

#calendar-panel {
    width: 180px;
    height: 180px;
    margin: 10px auto;
}

.layout-expand-east .panel-header .panel-tool .layout-button-left {
    display: none !important;
}