.top-panel {
    height: 100px;
    background: #F0F0F0;
}

.bottom-panel {
    height: 35px;
}

.left-panel {
    width: 250px;
}

.right-panel {
    background: #eee;
}

#menu-panel {
    height: 100%;
    border: none !important;
}

.menu-area {
    height: 100%;
}

ul {
    list-style: none;
}

.submenus-panel {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.submenu-item-panel {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    background: #EEEEEE;
}

.submenu-item-panel:hover {
    background: #BDBDBD;
}

.selected {
    background: #BDBDBD;
}

iframe {
    width: 100%;
    height: 100%;
}

.tabs-panels .panel .panel-body {
    overflow-y: hidden;
}